<div
	class = "flex flex-column w-full h-full overflow-hidden"
	(mousedown) = "startAdd()"
	(mousemove) = "moveFileRepresentation($event)"
	(mouseup) = "cancelAdd()"
>
	<div
		*ngIf = "showFileRepresentation"
		class = "absolute w-7rem h-6rem p-1 surface-ground shadow-4 z-5 pointer-events-none"
		[style.top.px] = "fileY"
		[style.left.px] = "fileX"
	>
		<div class = "reel-edge w-full"></div>
		<div class = "reel-middle w-full my-1"></div>
		<div class = "reel-edge w-full"></div>
	</div>
	<div class = "flex-grow-0">
		<app-editor-toolbar></app-editor-toolbar>
	</div>
	<div class = "overflow-hidden flex-grow-1 w-full flex">
		<div class = "flex flex-column">
			<button
				*ngIf = "insertPanelVisible"
				pButton
				class = "p-button-lg p-button-text"
				pTooltip = "Hide insert panel"
				(click) = "togglePanel('insertPanelVisible')"
				icon = "pi pi-folder-open"
			></button>
			<button
				*ngIf = "!insertPanelVisible"
				pButton
				class = "p-button-lg p-button-text"
				[class.p-button-secondary] = "!insertPanelVisible"
				pTooltip = "Show insert panel"
				(click) = "togglePanel('insertPanelVisible')"
				icon = "pi pi-folder"
			></button>
			<button
				pButton
				class = "p-button-lg p-button-text"
				[class.p-button-secondary] = "!tracksPanelIsVisible"
				[pTooltip] = "(tracksPanelIsVisible ? 'Hide' : 'Show') + ' tracks panel'"
				(click) = "togglePanel('tracksPanelIsVisible')"
				icon = "pi pi-video"
			></button>
			<button
				pButton
				class = "p-button-lg p-button-text"
				[class.p-button-secondary] = "!tracksPropertiesPanelIsVisible"
				[pTooltip] = "(tracksPropertiesPanelIsVisible ? 'Hide' : 'Show') + ' track properties panel'"
				(click) = "togglePanel('tracksPropertiesPanelIsVisible')"
				icon = "pi pi-sliders-h"
			></button>
			<button
				pButton
				class = "p-button-lg p-button-text"
				[class.p-button-secondary] = "!infoPanelIsVisible"
				[pTooltip] = "(infoPanelIsVisible ? 'Hide' : 'Show') + ' info panel'"
				(click) = "togglePanel('infoPanelIsVisible')"
				icon = "pi pi-info-circle"
			></button>
			<button
				pButton
				class = "p-button-lg p-button-text"
				[class.p-button-secondary] = "!previewWindowIsVisible"
				[pTooltip] = "previewWindowIsVisible ? '' : 'Show preview window'"
				(click) = "showPreviewWindow()"
				icon = "pi pi-image"
			></button>
		</div>
		<div class = "flex-grow-1 w-11 surface-card">
			<div class = "flex w-full h-full align-items-center justify-content-center" *ngIf = "!atLeastOnePanelIsVisible()">
				<h1 style = "font-family: var(--font-family);">No panels are open!</h1>
			</div>
			<app-custom-splitter
				[panelSizes] = "(tracksPropertiesPanelIsVisible || infoPanelIsVisible) ? [60,40] : [100,0]"
				*ngIf = "atLeastOnePanelIsVisible()"
				stateKey = "horizontalSplitter"
			>
				<div class = "h-full" panel1>
					<app-custom-splitter
						styleClass = "h-full middle-panels overflow-hidden"
						class = "h-full"
						[horizontal] = "true"
						[panelSizes] = "insertPanelVisible ? [20, 80] : [0, 100]"
						stateKey = "verticalSplitter"
						*ngIf = "insertPanelVisible || tracksPanelIsVisible"
					>
						<div class = "h-full" panel1>
							<p-tabView class = "w-full h-full" styleClass = "h-full flex flex-column overflow-hidden" *ngIf = "insertPanelVisible">
								<p-tabPanel header = "Imports" class = "h-full">
									<app-imports-panel class = "w-full"></app-imports-panel>
								</p-tabPanel>
								<p-tabPanel header = "Filters" class = "h-full flex-grow-1">
									<app-filter-selector class = "w-full"></app-filter-selector>
								</p-tabPanel>
							</p-tabView>
						</div>
						<div class = "h-full" panel2>
							<app-tracks-panel class = "w-full h-full" [class.hidden] = "!tracksPanelIsVisible"></app-tracks-panel>
						</div>
					</app-custom-splitter>
				</div>
				<div class = "flex overflow-hidden w-full h-full" panel2>
					<app-info-panel [(isVisible)] = "infoPanelIsVisible" class = "h-5px" [class.w-2] = "infoPanelIsVisible"></app-info-panel>
					<app-track-properties-panel class = "w-full h-5px" [class.w-10] = "infoPanelIsVisible" [class.hidden] = "!tracksPropertiesPanelIsVisible"></app-track-properties-panel>
				</div>
			</app-custom-splitter>
		</div>
	</div>
</div>
