.test {
	height: 50vh;
	min-height: 20vh;
}

.header {
	padding: 0.1rem 0;
}

.h-5px {
	height: calc(100% - 5px) !important;
}

::ng-deep {
	& .p-tabview-panels {
		overflow: hidden;

		& p-tabpanel {

			& .p-tabview-panel {
				height: 100%;
			}
		}
	}
}