.test {
	height: 50vh;
	min-height: 20vh;
}

.header {
	padding: 0.1rem 0;
}
.reel-edge {
	height: 20%;
	background: repeating-linear-gradient(90deg, white, white, transparent 10%, transparent 15%);
}
.reel-middle {
	height: 51%;
	background: repeating-linear-gradient(90deg, white 0%, white 48%, transparent 48%, transparent 54%);
}

::ng-deep {
	.p-tabview-nav-link {
		padding: 0.64rem !important;
	}

	& .p-tabview-panels {
		overflow: hidden;
		padding: 0 !important;
		flex-grow: 1;

		& p-tabpanel {

			& .p-tabview-panel {
				height: 100%;
			}
		}
	}

	.p-splitter:not(.flex-column) {
		border: none;
	}

	.p-splitter {
		border-top: 0;
		border-bottom: 0;
	}
}

$top_height: 30px;

#no-tracks {
	height: calc(100% - $top_height - 0.5rem - 1px);
}