<div class = "flex flex-column w-full h-full overflow-hidden">
	<div class = "flex-grow-0">
		<app-editor-toolbar></app-editor-toolbar>
	</div>
	<div class = "overflow-hidden flex-grow-1 w-full flex">
		<div class = "flex flex-column">
			<button
				pButton
				class = "p-button-lg p-button-text"
				[class.p-button-secondary] = "!importsPanelIsVisible"
				[pTooltip] = "(importsPanelIsVisible ? 'Hide' : 'Show') + ' imports panel'"
				(click) = "importsPanelIsVisible = !importsPanelIsVisible"
				icon = "pi pi-folder-open"
			></button>
			<button
				pButton
				class = "p-button-lg p-button-text"
				[class.p-button-secondary] = "!filterSelectPanelIsVisible"
				[pTooltip] = "(filterSelectPanelIsVisible ? 'Hide' : 'Show') + ' filter selector panel'"
				(click) = "filterSelectPanelIsVisible = !filterSelectPanelIsVisible"
				icon = "pi pi-image"
			></button>
			<button
				pButton
				class = "p-button-lg p-button-text"
				[class.p-button-secondary] = "!tracksPanelIsVisible"
				[pTooltip] = "(tracksPanelIsVisible ? 'Hide' : 'Show') + ' tracks panel'"
				(click) = "tracksPanelIsVisible = !tracksPanelIsVisible"
				icon = "pi pi-video"
			></button>
			<button
				pButton
				class = "p-button-lg p-button-text"
				[class.p-button-secondary] = "!tracksPropertiesPanelIsVisible"
				[pTooltip] = "(tracksPropertiesPanelIsVisible ? 'Hide' : 'Show') + ' track properties panel'"
				(click) = "tracksPropertiesPanelIsVisible = !tracksPropertiesPanelIsVisible"
				icon = "pi pi-sliders-h"
			></button>
			<button
				pButton
				class = "p-button-lg p-button-text"
				[class.p-button-secondary] = "!infoPanelIsVisible"
				[pTooltip] = "(infoPanelIsVisible ? 'Hide' : 'Show') + ' info panel'"
				(click) = "infoPanelIsVisible = !infoPanelIsVisible"
				icon = "pi pi-info-circle"
			></button>
		</div>
		<div class = "flex-grow-1 w-11 surface-card">
			<div class = "flex w-full h-full align-items-center justify-content-center" *ngIf = "!atLeastOnePanelIsVisible()">
				<h1 style = "font-family: var(--font-family);">No panels are open!</h1>
			</div>
			<app-custom-splitter [panelSizes] = "[60,40]" *ngIf = "atLeastOnePanelIsVisible()">
				<div class = "h-full" panel1>
					<p-splitter
						styleClass = "h-full middle-panels"
						class = "h-full"
						[panelSizes] = "[15, 85]"
						[minSizes] = "[0, 0]"
						*ngIf = "filterSelectPanelIsVisible || tracksPanelIsVisible"
					>
						<ng-template pTemplate>
							<app-filter-selector class = "w-full" *ngIf = "filterSelectPanelIsVisible"></app-filter-selector>
						</ng-template>
						<ng-template pTemplate>
							<app-tracks-panel class = "w-full h-full" *ngIf = "tracksPanelIsVisible"></app-tracks-panel>
						</ng-template>
					</p-splitter>
				</div>
				<div class = "flex overflow-hidden w-full h-full" panel2>
					<app-info-panel [(isVisible)] = "infoPanelIsVisible" [class.w-2] = "infoPanelIsVisible"></app-info-panel>
					<app-track-properties-panel class = "w-full h-4px" [class.w-10] = "infoPanelIsVisible" *ngIf = "tracksPropertiesPanelIsVisible"></app-track-properties-panel>
				</div>
			</app-custom-splitter>
		</div>
	</div>
</div>
