<div
	class = "flex h-full"
	[class.flex-column-reverse] = "isFullscreen"
	[class.h-2screen] = "isFullscreen"
>
	<div
		class = "video-container h-full flex flex-column p-2 justify-content-center"
	>
		<video
			#video
			[srcObject] = "selectedSource !== 'video' ? src : null"
			[src] = "selectedSource === 'video' ? src : null"
			class = "w-full"
			[class.webcam] = "selectedSource === 'webcam'"
		>
		</video>
		<p-slider
			[(ngModel)] = "currentTime"
			[max] = "duration"
			[step] = "1"
			(onChange) = "seekVideo($event.value)"
		></p-slider>
		<div class = "w-full surface-50">
			<button
				pButton
				class = "p-button-text"
				[icon] = "'pi pi-' + (videoPlaying ? 'pause' : 'play')"
				(click) = "playPauseVideo()"
			></button>
		</div>
	</div>

	<div
		class = "video-container h-full flex flex-column p-2 justify-content-center"
		[class.w-full] = "isFullscreen"
	>
		<div
			[class.webcam] = "selectedSource === 'webcam'"
			class = "align-self-center"
			[class.w-full] = "isFullscreen"
			[class.h-full] = "isFullscreen"
		>
			<div #replaceWithCanvas></div>
		</div>
		<div class = "w-full surface-50 flex flex-row-reverse">
			<button
				pButton
				class = "p-button-text"
				icon = "pi pi-window-maximize"
				(click) = "toggleFullScreen()"
			></button>
		</div>
	</div>
</div>