<div
	class = "filter-panel h-full inline-block surface-card border-round"
>
	<div class = "flex flex-col h-full border-right-1px">
		<div class = "left-drop relative h-full surface-section"></div>
		<div class = "h-full flex-grow-0 flex flex-column">
			<span class="inline-block w-full p-2 white-space-nowrap" style = "border-bottom: 1px solid #3f3f46">
				Track {{trackID}} Layer filter
			</span>
			<div class = "flex-grow-1 p-2">
				<div
					class = "flex flex-wrap h-full justify-content-center align-items-center"
				>
					<p-dropdown
						[options] = "layerFilters"
						optionLabel = "name"
						[(ngModel)] = "layerFilter"
						(onChange) = "layerFilterChange.emit($event.value)"
						appendTo = "body"
					>
					</p-dropdown>
				</div>
			</div>
		</div>
		<div class = "right-drop relative h-full surface-section"></div>
	</div>
</div>