<div id = "info-panel" class = "w-full h-full border-right-1px">
	<div class = "flex flex-column h-full">
		<div
			class = "flex align-items-center header border-bottom-1px"
			[style.paddingBottom.px] = "isVisible ? 0 : 1"
		>
			<span class = "inline-block w-11 p-2" *ngIf = "isVisible">
				{{title}}
			</span>
			<button
				pButton
				class = "p-button-sm p-button-text p-button-secondary p-2"
				[pTooltip] = "(isVisible ? 'Hide' : 'Show') + ' info panel'"
				(click) = "toggleInfoPanel()"
				[icon] = "isVisible ? 'pi pi-chevron-right' : 'pi pi-chevron-left'"
			></button>
		</div>
		<div class = "flex-grow-1 overflow-auto">
			<div class = "p-2 text-justify" *ngIf = "isVisible">
				{{description}}
			</div>
		</div>
	</div>
</div>