<p-menubar [model] = "items" [autoDisplay] = "true" styleClass = "p-0 border-none border-noround border-bottom-1">
	<ng-template pTemplate = "end">
		<div class = "w-full flex">
			<div class = "flex-grow-1 flex justify-content-center align-items-center">
				<button
					pButton
					class = "p-button-text p-button-secondary"
					icon = "pi pi-fast-backward"
					tooltipPosition = "left"
					pTooltip = "Rewind to start"
					(click) = "rewind()"
				>
				</button>
				<button
					pButton
					class = "p-button-text p-button-danger"
					[icon] = "'pi pi-' + (isRecording ? 'stop-circle' : 'circle-on')"
					tooltipPosition = "left"
					[pTooltip] = "(isRecording ? 'Stop' : 'Start') + ' recording all tracks'"
					(click) = "toggleRecording()"
				>
				</button>
				<button
					pButton
					class = "p-button-text p-button-secondary"
					[icon] = "'pi pi-' + (isPlaying ? 'pause' : 'play')"
					tooltipPosition = "left"
					[pTooltip] = "isPlaying ? 'Pause' : 'Play'"
					(click) = "togglePlaying()"
				>
				</button>
			</div>
			<div class = "p-inputgroup w-3">
				<input
					type = "text"
					[(ngModel)] = "projectName"
					class = "border-none border-noround border-left-1"
					(change) = "updateProjectName()"
					pTooltip = "Change the project name"
					pInputText
				>
				<button
					pButton
					icon = "pi pi-cog"
					pTooltip = "Project settings"
					class = "border-noround"
				>
				</button>
			</div>
		</div>
	</ng-template>
</p-menubar>

<app-source-selector #sourceSelector (sourceSelected) = "createScreenCaptureTrack($event)"></app-source-selector>