<img src = "assets/manual/videoPreview.png" class = "w-full">
<p>
	There are two parts to the video preview: the clip previewer and the full video preview. The clip previewer is on the left,
	and the full video preview is on the right. <br>
	When you click on a clip in track timeline in the main view, it is displayed in the clip previewer. You can then play/pause
	this preview. <br>
	On the right is the full project preview. This is where you can watch a live preview of your project. Once again, you can
	also play/pause this preview on top of scrubbing through the video and going into full screen mode.
</p>
<p>
	When a clip is selected in the main view, a resizable red box will appear in the full video preview. This box shows the
	the dimensions of the clip. You can resize this box by dragging the bottom right edge of the box. This allows you to take
	videos that aren't 1920x1080 and resize them to fit within these dimensions.
</p>