<div class = "w-full h-full flex">
	<div class = "w-18rem flex-shrink-0">
		<p-menu [model] = "manualPages" class = "w-full h-full" styleClass = "w-full h-full"></p-menu>
	</div>
	<div class = "flex flex-column flex-grow-1 h-full overflow-hidden" style = "font-family: var(--font-family);">
		<div class = "border-0 border-bottom-1 surface-border">
			<h2 class = "text-center">{{ manualPages[activeManualPage].label }}</h2>
		</div>
		<div class = "flex flex-grow-1 overflow-auto">
			<div class = "flex-grow-1 p-4 h-full overflow-auto">
				<router-outlet name = "manualOutlet"></router-outlet>
			</div>
		</div>
	</div>
</div>