<div class = "flex surface-border border-y-1 border-right-1 track-controls">
	<div class = "flex">
		<app-clip class = "flex-grow-0 flex-shrink-0" style = "width: 300px" [colour] = "colour"></app-clip>
		<app-clip class = "flex-grow-0 flex-shrink-0" style = "width: 300px" [colour] = "colour"></app-clip>
		<app-clip class = "flex-grow-0 flex-shrink-0" style = "width: 300px" [colour] = "colour"></app-clip>
		<app-clip class = "flex-grow-0 flex-shrink-0" style = "width: 300px" [colour] = "colour"></app-clip>
		<app-clip class = "flex-grow-0 flex-shrink-0" style = "width: 300px" [colour] = "colour"></app-clip>
		<app-clip class = "flex-grow-0 flex-shrink-0" style = "width: 300px" [colour] = "colour"></app-clip>
	</div>
</div>