.video-container {
	width: 50%;
	height: 416px;
}

.webcam {
	transform: scaleX(-1);
}

.hide-above {
	top: -100vh;
}

.fullscreen {
	position: absolute;
	top: 0;
	width: 100vw !important;
	height: 100vh !important;
}

.h-2screen {
	height: 200vh !important;
}

.h-6 {
	height: 50% !important;
}

.preview-video {
	z-index: 100;
}

video:not(.preview-video) {
	visibility: hidden;
}

.clip-scaler {
	border-color: var(--red-500);
	overflow: hidden;
	resize: horizontal;
}

.scaler-handle {
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 0;
	border-top-left-radius: 100% !important;
	background-color: var(--red-500);
	right: 0;
	bottom: 0;
	cursor: nw-resize;
}