<div class = "h-full overflow-hidden">
	<div
		class = "h-full flex"
		[class.flex-row] = "isFullscreen"
		[class.flex-wrap-reverse] = "isFullscreen"
		[class.h-2screen] = "isFullscreen"
	>
		<div
			class = "video-container flex flex-column px-2 justify-content-center"
			[class.w-full] = "isFullscreen"
			[class.h-6] = "isFullscreen"
			[class.h-full] = "!isFullscreen"
		>
			<video
				#video
				[srcObject] = "selectedSource !== 'video' ? src : null"
				[src] = "selectedSource === 'video' ? src : null"
				class = "w-full flex-grow-1"
				[class.h-full] = "!isFullscreen"
				[class.h-screen] = "isFullscreen"
				[class.webcam] = "selectedSource === 'webcam'"
				[class.mt-6] = "isFullscreen"
			>
			</video>
			<p-slider
				[(ngModel)] = "currentTime"
				[max] = "duration"
				[step] = "1"
				(onChange) = "seekVideo($event.value)"
			></p-slider>
			<div class = "w-full surface-50">
				<button
					pButton
					class = "p-button-text"
					[icon] = "'pi pi-' + (videoPlaying ? 'pause' : 'play')"
					(click) = "playPauseVideo()"
				></button>
			</div>
		</div>
	
		<div
			class = "video-container flex flex-column px-2 justify-content-center"
			[class.w-full] = "isFullscreen"
			[class.h-screen] = "isFullscreen"
			[class.h-full] = "!isFullscreen"
		>
			<div
				[class.webcam] = "selectedSource === 'webcam'"
				class = "align-self-center flex-grow-1 flex justify-content-center"
				[class.flex-column] = "!isFullscreen"
				[class.w-full] = "!isFullscreen"
			>
				<div #replaceWithCanvas class = "flex-grow-1 w-full"></div>
			</div>
			<div class = "w-full surface-50 flex flex-row-reverse">
				<button
					pButton
					class = "p-button-text"
					icon = "pi pi-window-maximize"
					(click) = "toggleFullScreen()"
				></button>
			</div>
		</div>
	</div>
</div>