<div class = "h-full overflow-hidden">
	<div
		class = "h-full flex"
		[class.flex-row] = "isFullscreen"
		[class.flex-wrap-reverse] = "isFullscreen"
		[class.h-2screen] = "isFullscreen"
	>
		<div
			class = "video-container flex flex-column justify-content-center border-right-1 surface-border relative"
			[class.w-full] = "isFullscreen"
			[class.h-6] = "isFullscreen"
			[class.h-full] = "!isFullscreen"
		>
			<div
				class = "align-self-center flex-grow-1 flex justify-content-center relative"
				[class.flex-column] = "!isFullscreen"
				[class.w-full] = "!isFullscreen"
			>
				<div class = "flex-grow-1 w-full"></div>
				<video
					#videos
					*ngFor = "let track of getVisibleTracks()"
					class = "w-full flex-grow-1 absolute"
					[class.h-full] = "!isFullscreen"
					[class.h-screen] = "isFullscreen"
					[class.mt-6] = "isFullscreen"
				>
				</video>
				<h1
					*ngIf = "!getVisibleTracks().length"
					class = "w-full flex-grow-1 absolute text-center p-component text-4xl"
				>
					This video has no tracks
				</h1>
			</div>
			<div class = "w-full">
				<p-slider
					[(ngModel)] = "masterTime"
					[max] = "duration"
					[step] = "0.01"
					(onChange) = "seekVideo()"
				></p-slider>
				<div class = "w-full surface-50">
					<button
						pButton
						class = "p-button-text"
						[icon] = "'pi pi-' + (videoPlaying ? 'pause' : 'play')"
						(click) = "playPauseVideo()"
					></button>
				</div>
			</div>
		</div>
	
		<div
			class = "video-container flex flex-column justify-content-center border-left-1 surface-border"
			[class.w-full] = "isFullscreen"
			[class.h-screen] = "isFullscreen"
			[class.h-full] = "!isFullscreen"
		>
			<div
				class = "align-self-center flex-grow-1 flex justify-content-center relative"
				[class.flex-column] = "!isFullscreen"
				[class.w-full] = "!isFullscreen"
			>
				<div #replaceWithCanvas class = "flex-grow-1 w-full"></div>
				<canvas #finalCanvas class = "final-canvas w-full absolute" width = "1920" height = "1080"></canvas>
				<h1
					*ngIf = "!getVisibleTracks().length"
					class = "w-full flex-grow-1 absolute text-center p-component text-4xl"
				>
					This video has no tracks
				</h1>
			</div>
			<div>
				<div style = "height: 0.286rem;"></div>
			</div>
			<div class = "w-full surface-50 flex flex-row-reverse">
				<button
					pButton
					class = "p-button-text"
					icon = "pi pi-window-maximize"
					(click) = "toggleFullScreen()"
				></button>
			</div>
		</div>
	</div>
</div>