.video-container {
	width: 50%;
	height: 416px;
}

#preview-image {
	object-fit: contain;
}

.webcam {
	transform: scaleX(-1);
}

.hide-above {
	top: -100vh;
}

.black {
	background-color: black;
}

.h-2screen {
	height: 200vh !important;
}

.h-6 {
	height: 50% !important;
}

.preview-video {
	background: linear-gradient(to bottom, transparent 20%, black 20%, black 80%, transparent 80%);
	z-index: 100;
}

video:not(.preview-video) {
	visibility: hidden;
}

.clip-scaler {
	border-color: var(--red-500);
	overflow: hidden;
	resize: horizontal;
}

.scaler-handle {
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 0;
	border-top-left-radius: 100% !important;
	background-color: var(--red-500);
	right: 0;
	bottom: 0;
	cursor: nw-resize;
}

#preview-not-playing {
	z-index: 100000;
}