<div
	class = "h-full overflow-hidden"
	(mousedown) = "isMouseDown = true"
	(mouseup) = "isMouseDown = false"
>
	<div
		class = "h-full flex"
	>
		<div
			class = "video-container flex flex-column justify-content-center border-right-1 surface-border relative h-full"
			[class.flex] = "!isFullscreen"
			[class.hidden] = "isFullscreen"
			[class.w-full] = "previewIsFullscreen"
		>
			<div
				#previewContainer
				class = "align-self-center w-full flex-grow-1 flex justify-content-center overflow-hidden relative"
				[class.black] = "previewIsFullscreen"
			>
				<div class = "flex-grow-1 w-full" [class.hidden] = "selectedTrackType === 'Audio'"></div>
				<video
					#previewVideo
					class = "w-full h-full flex-grow-1 absolute preview-video"
					[class.hidden] = "selectedTrackType !== 'Video'"
					[src] = "previewSrc | sanitiseUrl"
					[srcObject] = "previewStream"
				>
				</video>
				<div
					id = "preview-not-playing"
					*ngIf = "previewSrc === null"
					class = "w-full h-full absolute flex align-items-center justify-content-center"
				>
					<span>Preview not loaded</span>
				</div>
				<canvas
					#audioPreview
					[class.hidden] = "selectedTrackType !== 'Audio'"
					class = "w-full h-full absolute"
				></canvas>
				<img
					#previewImage
					id = "preview-image"
					class = "w-full h-full flex-grow-1 absolute"
					[class.hidden] = "selectedTrackType !== 'Image'"
					[src] = "previewSrc | sanitiseUrl"
				>
			</div>
			<div class = "w-full">
				<div>
					<p-slider
						[(ngModel)] = "previewTime"
						[max] = "previewDuration * 1000"
						[step] = "1"
						(ngModelChange) = "seekPreviewMedia($event)"
					></p-slider>
				</div>
				<div class = "w-full surface-50 flex flex-row justify-content-between">
					<button
						pButton
						class = "p-button-text p-button-secondary"
						[class.opacity-0] = "selectedTrackType === 'Image'"
						[icon] = "'pi pi-' + (!previewVideo.paused ? 'pause' : 'play')"
						(click) = "previewVideo.paused ? previewVideo.play() : previewVideo.pause()"
					></button>
					<span
						[class.opacity-0] = "selectedTrackType === 'Image'"
						class = "align-self-center text-lg"
					>
						{{convertTime(previewTime)}}
					</span>
					<button
						pButton
						class = "p-button-text p-button-secondary"
						icon = "pi pi-window-maximize"
						(click) = "togglePreviewFullScreen()"
					></button>
				</div>
			</div>
		</div>
	
		<div
			class = "video-container h-full flex-column justify-content-center border-left-1 surface-border"
			[class.flex] = "!previewIsFullscreen"
			[class.hidden] = "previewIsFullscreen"
			[class.w-full] = "isFullscreen"
		>
			<div
				class = "align-self-center flex-grow-1 flex justify-content-center relative w-full"
				[class.flex-column] = "!isFullscreen"
				#canvasContainer
			>
				<div #replaceWithCanvas class = "flex-grow-1 w-full"></div>
				<canvas #finalCanvas class = "final-canvas w-full absolute" width = "1920" height = "1080"></canvas>
				<h1
					*ngIf = "!getVisibleTracks().length"
					class = "w-full flex-grow-1 absolute text-center p-component text-4xl"
				>
					This project has no visible tracks
				</h1>
				<div
					#scaler
					class = "clip-scaler absolute z-5 border-2 border-ground align-self-center"
					[class.hidden] = "selectedClipIndex === -1 && selectedTrackIndex === -1"
				>
					<div class = "scaler-handle pointer-events-none"></div>
				</div>
			</div>
			<div>
				<p-slider
					[(ngModel)] = "masterTime"
					[max] = "duration"
					[step] = "0.01"
					(ngModelChange) = "seekMedia($event)"
				></p-slider>
			</div>
			<div class = "w-full surface-50 flex flex-row justify-content-between">
				<button
					pButton
					class = "p-button-text p-button-secondary"
					[icon] = "'pi pi-' + (mediaPlaying ? 'pause' : 'play')"
					(click) = "playPauseMedia()"
				></button>
				<span class = "align-self-center text-lg">{{convertTime(masterTime)}}</span>
				<div>
					<button
						pButton
						[disabled] = "mediaPlaying"
						class = "p-button-text p-button-secondary"
						pTooltip = "Export current frame"
						tooltipPosition="top"
						icon = "pi pi-images"
						(click) = "exportCurrentFrame()"
					></button>
					<button
						pButton
						class = "p-button-text p-button-secondary"
						icon = "pi pi-window-maximize"
						(click) = "toggleFullscreen()"
					></button>
				</div>
			</div>
		</div>
	</div>
</div>