<app-source-selector #sourceSelector></app-source-selector>
<div class = "flex track-controls">
	<div class = "flex-shrink-0 w-6" [ngStyle] = "{backgroundColor: track.colour, color: titleColour }">
		<div class = "h-full flex flex-column flex-grow-1 flex flex-column justify-content-center align-items-center">
			<div style = "height: 45%">
				<p-inplace [active] = "isEditingName" (onActivate) = "isEditingName = true" class = "h-full">
					<ng-template pTemplate = "display">
						<div class = "white-space-nowrap text-overflow-ellipsis" [pTooltip] = "track.name">{{track.name}}</div>
					</ng-template>
					<ng-template pTemplate = "content">
						<input
							pInputText
							class = "w-full"
							type = "text"
							[(ngModel)] = "track.name"
							(keyup.enter) = "this.isEditingName = false;"
						>
					</ng-template>
				</p-inplace>
			</div>
			<div style = "height: 10%">
				<hr width = "20px" class = "m-1">
			</div>
			<div
				class = "text-center"
				[class.cursor-pointer] = "track.type == 'Screen capture'"
				style = "height: 45%"
				[pTooltip] = "track.type == 'Screen capture' ? 'Change Source': ''"
				(click) = "changeSource()"
			>
				{{track.type}}
			</div>
		</div>
	</div>
	<div class="flex flex-column w-6 flex-grow-0 flex-shrink-0 surface-ground" (click) = "isEditingName = false">
		<div class = "flex flex-wrap w-full h-full justify-content-center align-items-center">
			<div>
				<button
					pButton
					class = "p-button-sm p-button-text p-button-danger"
					[icon] = "'pi pi-' + (isRecording ? 'stop-circle' : 'circle-on')"
					tooltipPosition = "left"
					[pTooltip] = "isRecording ? 'Stop recording' : 'Record track'"
					(click) = "toggleRecording()"
				>
				</button>
			</div>
			<div>
				<button
					pButton
					class = "p-button-sm p-button-text"
					[icon] = "'pi pi-' + (track.isVisible ? 'eye' : 'eye-slash')"
					tooltipPosition = "left"
					(click) = "toggleVisibility()"
					[pTooltip] = "(track.isVisible ? 'Hide' : 'Show') + ' track'"
				></button>
			</div>
			<div>
				<button
					pButton
					class = "p-button-sm p-button-text p-button-warning"
					icon = "pi pi-palette"
					tooltipPosition = "left"
					pTooltip = "Change track colour"
					(click) = "op.toggle($event)"
				></button>
				<p-overlayPanel #op>
					<ng-template pTemplate>
						<p-colorPicker [(ngModel)] = "track.colour" [inline] = "true"></p-colorPicker><br>
						<button pButton label = "Ok" (click) = "op.toggle($event)"></button>
					</ng-template>
				</p-overlayPanel>
			</div>
			<div>
				<button
					pButton
					class = "p-button-sm p-button-text p-button-danger"
					icon = "pi pi-trash"
					tooltipPosition = "left"
					pTooltip = "Delete track"
					(click) = "onTrackDelete.emit()"
				></button>
			</div>
		</div>
	</div>
</div>