<p>
	You can modify tracks in multiple ways. On the left side of the track, you can see the name, it's type and
	a few buttons that modify certain properties of the track. Clicking on the track name allows you to rename it.
	If you are looking at a screen capture track, you can click on "Screen capture" to change the source of the
	screen capture.
</p>
<div class = "text-center">
	<img src = "assets/manual/tracksInfo.png" class = "w-2">
</div>
<p>
	Clicking on the eye icon will toggle the visibility of the track. Clicking on the colour palette icon will
	allow you to change the colour of the track. Clicking on the lock icon will toggle the track's lock status.
	Lastly, clicking on the red trash icon will delete the track. <br>
	Any webcam and screen capture tracks also have a recording button. Clicking on this button will toggle recording
	on the track. Once the recording is saved into the project folder it is added to the track.
</p>
<p>
	NB: when previewing any webcam and screen capture tracks, the preview will only show live captures when there are no
	clips playing, i.e. if there is a clips that starts at 10s and ends at 20s, the preview will only show live captures
	when the current time is before 10s or after 20s.<br>

	This is useful as it allows you to record a webcam track live which can then be modified and exported at a later date.
</p>

<div class = "text-center">
	<img src = "assets/manual/trackContents.png" class = "w-8">
</div>
<p>
	When you drag a clip onto a track, it will be added to the track at your current mouse position. You are then free
	to move the clip around the track (by dragging the smaller bar on the top of the track). You can also resize the
	clip by dragging the edges of the clip. You CANNOT resize the clip to be bigger than the clip's original size.

	Clicking on a clip will select it. You can then delete the clip by pressing the delete key.
</p>

<p>
	When you click on a track, it's respective filters will be shown in the filters panel. This will be covered in the
	next section.
</p>