.reel-edge {
	height: 20%;
	background: repeating-linear-gradient(90deg, white, white, transparent 10%, transparent 15%);
}
.reel-middle {
	height: 51%;
	background: repeating-linear-gradient(90deg, white 0%, white 48%, transparent 48%, transparent 54%);
}