<p-toast></p-toast>
<p-confirmDialog
	header = "Confirmation"
	icon = "pi pi-exclamation-triangle"
	appendTo = "body"
>
</p-confirmDialog>
<div
	class = "h-full"
>
	<router-outlet></router-outlet>
</div>
<div
	id = "secondary-router"
	class = "absolute w-full h-full top-0 overflow-hidden flex flex-column surface-ground"
	*ngIf = "isNotPopup()">
	<div class = "w-full p-1 border-bottom-1 surface-border">
		<button
			pButton
			icon = "pi pi-arrow-left"
			class = "p-button-text"
			[routerLink] = "[{ outlets: { panelOutlet: null}}]"
		>
		</button>
	</div>
	<div class = "flex-grow-1 overflow-auto">
		<router-outlet name = "panelOutlet"></router-outlet>
	</div>
</div>