<div class = "flex flex-column h-full w-full overflow-hidden select-none">
	<div
		class = "w-full h-full flex flex-grow-1 flex flex-column"
	>
		<div class="sticky w-full">
			<app-track-zoom class="w-full h-2rem"></app-track-zoom>
		</div>
		<div
			#tracksList
			class = "flex-grow-1 overflow-auto max-h-full"
		>
			<div
				id = "tracks-list"
				class = "relative tracks-list"
				[class.w-full] = "!tracks.length"
				[class.h-full] = "hasLessTracksThanHeightOfTracksList"
				[style.width.px] = "tracksWidth"
			>
				<div
					id = "tracks-panel-ribbon"
					class = "sticky z-2 white-space-nowrap top-0 surface-ground py-1 border-bottom-1 border-50 overflow-hidden"
					[style.width.px] = "tracksWidth+200"
				>
					<div id = "track-details-header" class = "inline-flex left-0 z-1 sticky">
						<div id = "track-details-header-inner" class = "flex align-items-center surface-ground">
							<span class = "ml-1">Tracks</span>
							<button
								pButton
								class = "p-button-text p-button-sm"
								[icon] = "'pi pi-plus'"
								(click) = "tracksService.addTrack()"
							>
							</button>
						</div>
					</div>
					<div
						class = "inline-flex absolute"
						[style.left.px] = "numbersPosition+200"
					>
						<div
							*ngFor = "let number of timelineNumbers; let i = index"
							class = "timeline-number flex text-center align-items-center justify-content-center"
						>
							<span>{{number}}</span>
						</div>
						<div class="flex-grow-1"></div>
					</div>
				</div>
				<div
					id = "time-lines"
					class = "absolute pointer-events-none"
					[style.width.px] = "tracksWidth"
				>
				</div>
				<div
					id = "timeline-indicator"
					class = "absolute z-1"
					[style.left.px] = "200+timelineIndicatorPosition"
				>
				</div>
				<div id = "track-details" class = "left-0 z-1 sticky fle surface-ground" #tracksDetails>
					<app-track-details
						*ngFor = "let track of tracks"
						[track] = "track"
						(onTrackDelete) = "deleteTrack(track.id)"
					>
					</app-track-details>
					<div class = "flex justify-content-center w-full py-4 border-top-1 surface-border">
						<button
							pButton
							class = "p-button-rounded"
							[icon] = "'pi pi-plus'"
							(click) = "tracksService.addTrack()"
						>
						</button>
					</div>
				</div>
				<div id = "tracks" class = "absolute w-full" #tracksNgForList>
					<ng-container *ngFor = "let track of tracks; let i = index">
						<div
							class = "flex h-full"
							(mousedown) = "setOriginTrack(track, $event)"
							(mousemove) = "$event.button != 1 && onDrag($event, track)"
							(mouseup) = "$event.button != 1 && completeDrag($event, track)"
							(click) = "selectTrack(i)"
							[class.selected-track] = "tracksService.getSelectedTrack()?.id === track.id"
						>
							<app-track-contents
								[clips] = "track.clips ?? []"
								(clipDeleted) = "pfService.updateTracks(tracks)"
								[trackIndex] = "i"
								[colour] = "track.colour"
								class = "track-contents flex-grow-0 flex-shrink-0"
							>
							</app-track-contents>
							<app-clip
								*ngIf = "cs.phantomClip && hoveringTrack?.id === track.id"
								[clip] = "cs.phantomClip"
								[colour] = "track.colour"
								class = "absolute opacity-50 pointer-events-none"
								[style.width.px] = "getClipWidth(cs.phantomClip)"
								[style.left.px] = "getClipPosition(cs.phantomClip)"
							></app-clip>
							<div style = "width: 100px" class = "inline-block flex-grow-0 flex-shrink-0"></div>
						</div>
						<div
							class = "divider"
							[style.width.px] = "tracksWidth"
						>
						</div>
					</ng-container>
				</div>
				<div
					*ngIf = "!tracks.length"
					id = "no-tracks"
					class = "flex w-full align-items-center justify-content-center absolute top-0"
				>
					<h1 class = "text-center select-none surface-ground p-4 pt-3 border-round">No Tracks :( <br> Right click to add one</h1>
				</div>
			</div>
		</div>
	</div>
</div>