.pb-9px {
	padding-bottom: 9px;
}

.time-lines {
	//linear gradient every 50px;
	//Represents 5 seconds of time
	background: repeating-linear-gradient(90deg, var(--surface-50), var(--surface-50), transparent 2px, transparent 50px);
}

.divider {
	height: 1px;
	border-bottom: 1px solid var(--surface-50);
}

.tracks-grid {
	display: grid;
}