::ng-deep {
	& .p-toggleable-content, & .p-panel-content {
		flex-grow: 1;
		overflow: hidden;
		height: 100%;
	}
	& .p-panel-content {
		padding-right: 0 !important;
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}
}