#slider-wrapper {
	width: calc(100% - 209px);
	margin-left: 200px;
}

#time-lines {
	left: 200px;
	min-height: 100%;
	height: 100%;
	//linear gradient every 50px;
	//Represents 5 seconds of time
	background: repeating-linear-gradient(90deg, transparent 0 48px, var(--surface-50) 48px 50px);
}

#tracks-panel-ribbon {
	height: 30px;
}

.timeline-number {
	flex: 0 0 100px;
	width: 100px;
	height: 30px;
	transform: translateX(-50%);

	& span {
		width: 100%;
	}
}

#timeline-indicator {
	width: 2px;
	height: 100%;
	background: red;
}

#no-tracks {
	height: 100%;
}

.divider {
	height: 1px;
	border-bottom: 1px solid var(--surface-50);
}

.selected-track {
	background: rgb(54, 61, 71, 0.5);
}

#tracks {
	left: 200px;
	top: 0;
}

#track-details, #track-details-header {
	width: 200px;
}

#tracks-list-wrapper {
	height: 100%;
}

#tracks-wrapper {
	left: 200px;
}

#track-details-header {
	width: 150px;
	height: 100%;
}

#tracks > div:nth-child(4n-7):not(.selected-track) {
	background: rgba(0, 0, 0, 0.2);
}