<div class = "flex flex-column h-full">
	<div>
		<p-toolbar>
			<div class = "p-toolbar-group-left">
			</div>
			<div class = "p-toolbar-group-right">
				<button
					pButton
					class = "p-button-sm"
					pTooltip = "Add a track"
					(click) = "addTrack()"
					icon = "pi pi-plus"
				></button>
			</div>
		</p-toolbar>
	</div>
	<div class = "flex-grow-1 flex flex-column h-full overflow-auto p-2">
		<div *ngIf = "!tracks.length" class = "flex w-full h-full align-items-center justify-content-center">
			<h1>No Tracks :( Click the + button to add one</h1>
		</div>
		<app-track *ngFor = "let track of tracks" [trackName] = "track.name" (onTrackDelete) = "deleteTrack(track)"></app-track>
	</div>
</div>