<div class = "p-2 h-full" #menu>
	<p-dataView
		#dv
		[value] = "clips"
		filterBy = "name"
		[sortField] = "sortField"
		[sortOrder] = "sortOrder"
		layout = "grid"
		styleClass = "w-full h-full flex flex-column"
	>
		<ng-template pTemplate = "header">
			<div class = "flex justify-content-between align-items-center gap-2">
				<p-dropdown
					[options] = "sortOptions"
					(onChange) = "onSortChange($event)"
				></p-dropdown>
				<div class = "p-inputgroup flex-grow-1">
					<input
						type = "search"
						pInputText
						placeholder = "Search by Name"
						(input) = "filter($event)"
					>
					<button
						pButton
						pTooltip = "Import a new file"
						icon = "pi pi-file-import"
						(click) = "importFiles()"
					></button>
				</div>
			</div>
		</ng-template>
		<ng-template pTemplate = "gridItem">
			<div class = "grid grid-nogutter">
				<div class = "col-4" *ngFor = "let clip of clips">
					<p-contextMenu
						[target] = "menu"
						[model] = "clipMenu"
						appendTo = "body"
					>
					</p-contextMenu>
					<div
						#menu
						class = "p-1 select-none"
						(click) = "relinkClip(clip)"
						(mouseup) = "this.selectedClip = clip;"
					>
						<div
							class = "file card border-round cursor-pointer white-space-nowrap text-overflow-ellipsis overflow-hidden w-full"
							[pTooltip] = "(clip?.needsRelinking ? 'Click to relink: ' : '') + clip.location"
							(mousedown) = "cs.setCurrentClip(clip)"
						>
							<div class = "flex flex-column align-items-center relative">
								<div
									*ngIf = "clip?.needsRelinking"
									class = "flex w-full h-4rem absolute justify-content-center align-items-center"
									style = "z-index: 1"
								>
									<i class = "pi pi-exclamation-triangle text-lg text-yellow-500 bg-red-500 p-2 border-round"></i>
								</div>
								<img
									[src] = "clip.thumbnail | sanitiseUrl"
									class = "w-full h-4rem surface-ground"
									[class.opacity-50] = "clip?.needsRelinking"
									ondragstart = "return false"
								>
								<span class = "w-full text-overflow-ellipsis overflow-hidden">{{clip.name}}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</ng-template>
		<ng-template pTemplate = "empty">
			<div class = "flex w-full h-full justify-content-center align-items-center">
				<span class = "text-xl">No clips found :sadge:</span>
			</div>
		</ng-template>
	</p-dataView>
</div>