<div
	#zoomSliderWrapper
	class = "w-full h-2rem surface-overlay pl-3"
	pTooltip = "Drag to zoom in/out"
	tooltipPosition = "bottom"
	(mousedown) = "startDrag($event)"
	(mousemove) = "dragSlider($event)"
	(mouseup) = "stopDrag()"
>
	<div
		#zoomSlider
		id = "slider"
		class = "h-full flex justify-content-between"
		[style.width.%] = "sliderPosition.right-sliderPosition.left"
		[style.marginLeft.%] = "sliderPosition.left"
	>
		<div
			class = "handle h-full"
		>
		</div>
		<div
			class = "handle h-full"
		>
		</div>
	</div>
</div>
