<div class = "text-center">
	<img src = "assets/manual/addingFilters.png" class = "w-3">
</div>
<p>
	When working with filters, the first thing you need to do is add a filter to a track. You must first select a track in the
	main view and then select the filters tab as shown above. From here, you can search for a filter by name or by category,
	or open one of the categories and manually browse through the filters. Once you have found a filter you want to add, click
	the "+" button next to the filter name. This will add the filter to the track.
	You can add as many filters as you want, though keep in mind that the more filters you add, the more processing power
	it will take to render your video.
</p>
<div class = "text-center">
	<img src = "assets/manual/trackPropertiesPanel.png" class = "w-9">
</div>
<p>
	Once you have added a filter to a track, you can adjust the filter's properties from the track properties panel. Additionally,
	by clicking the turqoise circle, you can toggle the filter on and off. This is useful if you want to temporarily disable
	a filter without having to delete it. Lastly, by clicking the 3 dots, a menu will come up that allows you to delete the
	filter or reset the filter to its default values.
</p>
<p>
	In the future, you will be able to automate the changing of filter properties over time while also being controllable by
	midi controllers. This will facilitate the creation of live visual effects shows.
</p>
<p>
	By dragging the filter header, you can reorder the filters. This changes the order in which the filters are applied to
	the track. The first filter in the list is applied first, and the last filter in the list is applied last.
</p>

<p>
	The last feature of the track properties panel is the Track layer filter. This filter determines how the current track
	interacts with the tracks below it. This allows you to blend the current track with the tracks below it.
</p>