body {
	padding: 0;
	margin: 0;
	height: 100vh;
}

video, canvas {
	//Was 250px before
	width: 100%;
}

//scrollbar styles
::-webkit-scrollbar {
	width: 9px;
	height: 9px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	height: 9px;
	background: #0b213f;
	border-radius: 3px;
}

.p-splitter {
	border-radius: 0 !important;
	border: none !important;
}

//makes the corner netween 2 scrollbars transparent
::-webkit-scrollbar-corner {
	background: transparent;
}

.p-toolbar {
	padding: 0.1rem 0rem 0.1rem 1.5rem!important;
}

.p-toast {
	z-index: 100000;
}