<div
	#dropzone
	class = "flex-grow-1 h-full overflow-auto overflow-y-hidden white-space-nowrap"
	pDroppable = "dd"
	(drop) = "reorderFilters($event)"
>
	<div *ngIf = "!filters.length" class = "flex w-full h-full align-items-center justify-content-center">
		<h1>No Filters</h1>
	</div>
	<div
		class = "filter-panel h-full inline-block surface-card border-round"
		*ngFor = "let filter of filters; let i = index"
		pDraggable = "dd"
		dragHandle=".p-toolbar"
		(onDragStart) = "dragStart($event, filter)"
		(onDrag) = "drag($event)"
		(onDragEnd) = "dragEnd()"
	>
		<div class = "flex flex-col h-full border-none border-botton-3 border-right-3 surface-border">
			<div class = "left-drop relative h-full surface-section"></div>
			<div class = "h-full w-20rem flex-grow-0">
				<div class = "filter-header">
					<p-toolbar class = "cursor-move">
						<div class="p-toolbar-group-left cursor-auto">
							{{filter.displayName}}
						</div>
						
						<div class="p-toolbar-group-right">
							<button
								pButton
								pTooltip = "Remove filter"
								class = "p-button-text p-button-sm"
								(click) = "removeFilter(filter)"
								icon = "pi pi-ellipsis-v"
							>
							</button>
							<button
								pButton
								[pTooltip] = "(filter.enabled ? 'Disable' : 'Enable')+ ' filter'"
								class = "p-button-text p-button-sm"
								(click) = "setEnabledFilters(filter)"
								[icon] = "'pi pi-circle' + (filter.enabled ? '-fill' : '')"
							>
							</button>
						</div>
					</p-toolbar>
				</div>
			</div>
			<div class="right-drop relative h-full surface-section"></div>
		</div>
	</div>
</div>