.left-drop, .right-drop {
	&::after {
		position: absolute;
		top: 50%;
		left: 50%;
		height: 100%;
		font-size: 30px;
		color: white;
		background-color: var(--surface-section);
	}
}

.dropzone-left .left-drop {
	width: 150px;

	&::after {
		content: '⇤';
	}
}
.dropzone-right .right-drop {
	width: 150px;

	&::after {
		content: '⇥';
	}
}

::ng-deep .p-toolbar {
	padding: 0.1rem 0rem 0.1rem 1.5rem!important;
}