<div class = "flex flex-column h-full hidden">
	<div class = "flex-grow-1 overflow-auto">
		<p-tree [value] = "filters" styleClass = "w-full h-full flex flex-column border-0" [filter] = "true">
			<ng-template let-node pTemplate = "category">
				{{node.label}}
			</ng-template>
			<ng-template let-node  pTemplate = "default">
				<div class = "flex align-items-center justify-content-between gap-4 filter-option">
					<div>
						{{node.label}}
					</div>
					<div class = "add-filter-button">
						<button
							pButton
							icon = "pi pi-plus"
							class = "p-button-rounded p-button-text p-button-sm"
							(click) = "addFilter(node.value)"
							pTooltip = "Add Filter"
						>
						</button>
					</div>
				</div>
			</ng-template>
		</p-tree>
	</div>
</div>